<!DOCTYPE html>
<html>
  <head>
    <title>College Cook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="https://www.electricchoice.com/wp-content/uploads/2015/06/1433289588_restaurant.png">
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway|Righteous|Comfortaa" rel="stylesheet">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">

    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

  </head>
      <p class="notice flash"><%= notice %></p>
      <p class="alert flash"><%= alert %></p>
      <% if user_signed_in? %>
        <nav role="navigation" id="nav">
              <input class="trigger" type="checkbox" id="mainNavButton">
              <label for="mainNavButton" onclick>Menu</label>
              <ul>
                <li><%= link_to "Home", "/", class: "navbar_link"%></li>
                <li><%= link_to "About Us", "/about", class: "navbar_link"%></li>
                <!-- <li><a href="/recipes/favorites">My Recipies</a></li> -->
                <li><%= link_to "Try Something New", "/recipes/try", class: "navbar_link"%></li>
                <li><%= link_to "Contact Us", "/contact", class: "navbar_link"%></li>
                <li><%= link_to "Edit Profile", edit_user_registration_path,  :class => 'navbar-link'  %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>  </li>
              </ul>
        </nav>
      <% end %>
  <body class="<%= @body_class %>">
    <%= yield %>
  </body>
</html>
